<div class="container mt-5">
  <p style="color: green"><%= notice %></p>

  <%= render @list %>

  <p><strong>Bookmarks</strong></p>
  <ul class="list-group">
    <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <li class="list-group-item">
        <img src="<%= movie.poster_url %>" alt="foto">
        <%= movie.title %>
        <%= movie.bookmarks.last.comment %>
        <%= link_to "Delete",
          bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </li>
    <% end %>
  </ul>
<br>

  <div>
    <%= link_to "Back to lists", lists_path %>
    <%= link_to "Add movie",  new_list_bookmark_path(@list) %>
    <%= button_to "Destroy this list", @list, method: :delete, class: 'btn btn-primary mt-3' %>
  </div>
</div>

<div>
  <span class="movie-tag"><%= pluralize(@list.movies.size, "movie") %></span>
</div>
